* text=auto

*.json text
*.svg text
*.py text
*.txt text
*.js text
*.ts text
.git* text
.npmrc text
*.mjs text
*.md text

*.astro text linguist-detectable
*.mdx text linguist-detectable
*.scss text linguist-detectable

*.ico binary
*.woff2 binary
*.ttf binary
