html {
    // Main
    --bg: #fff;
    --text: #111;
    --link: #05b;
    --outline: #777;
    --shadow: #eee;
    --variant: #eee;

    // Accents
    --primary-bg: #def;
    --primary-text: #013;

    // Details
    --details-bg: #9fb;
    --details-text: #021;

    // Warning
    --warning-bg: #fdd;
    --warning-text: #402;

    // Note
    --note-bg: #fdf;
    --note-text: #212;
}

[data-theme="dark"] {
    // Main
    --bg: #111;
    --text: #eee;
    --link: #acf;
    --outline: #8e9099;
    --shadow: #000;
    --variant: #444;

    // Accents
    --primary-bg: #048;
    --primary-text: #def;

    // Details
    --details-bg: #053;
    --details-text: #9fb;

    // Warning
    --warning-bg: #900;
    --warning-text: #fdd;

    // Note
    --note-bg: #535;
    --note-text: #fdf;
}

::selection {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

::-moz-selection {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}