@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode/FiraCode-VF.woff2");
    font-display: swap;
}

h1, h2, h3, h4, h5, h6, p, a, button, b, li, summary {
    font-family: "Inter", sans-serif;
}

code {
    font-family: "Fira Code", ui-monospace;
}