main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Site Meta */
.sitetitle,
.sitedesc {
    word-spacing: 0.2rem;
}

.sitetitle {
    font-size: 6.25vh;
    text-align: center;
}

.sitedesc {
    font-size: 3.5vh;
    font-weight: normal;
    text-align: justify;
}

.siteicon {
    height: 15vh;
}