---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
    <head>
        <Head />
        <title>404 - The Blog of Random</title>
        <meta name="description" content="Error 404" />
    </head>
    <body>
        <Header />
        <main>
            <h1>This content is not available in your country.</h1>
        </main>
        <Footer />
        <style lang="scss">
            main {
                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    text-align: center;
                }
            }
        </style>
    </body>
</html>
