<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
  {{$tags := resources.Get "css/partials/tags.css"}}
  {{$details := resources.Get "css/shortcodes/details.css"}}
  {{$warning := resources.Get "css/shortcodes/warning.css"}}
  {{$note := resources.Get "css/shortcodes/note.css"}}
  {{$quote := resources.Get "css/shortcodes/quote.css"}}
  {{$single := resources.Get "css/single.css"}}
  {{$post := slice $tags $details $warning $note $quote $single | resources.Concat "post.css" | toCSS | minify | fingerprint}}
  <link rel="stylesheet" href="{{$post.Permalink}}" integrity="{{$post.Data.Integrity}}">

  {{if .Params.math}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js" integrity="sha384-X/XCfMm41VSsqRNQgDerQczD69XqmjOOOwYQvr/uuC+j4OPoNhVgjdGFwhvN02Ja" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>
  {{end}}
</head>

<body>
  {{ partial "header.html" . }}
  <main>
    <article>
      <div class="posthead">
        <p class="postdate">{{.Date | time.Format "Monday, January 2, 2006"}}</p>
        <h1 class="posttitle">{{.Title}}</h1>
        <p class="postdesc">{{.Description}}</p>
        {{ partial "tags.html" . }}
        <p class="readingtime">{{.ReadingTime}} min read</p>
        <p class="author">Written by {{.Params.Author}}</p>
      </div>
      {{.Content}}
    </article>
  </main>
  {{ partial "footer.html" . }}
</body>

</html>