<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
  {{$tags := resources.Get "css/partials/tags.css"}}
  {{$details := resources.Get "css/shortcodes/details.css"}}
  {{$warning := resources.Get "css/shortcodes/warning.css"}}
  {{$note := resources.Get "css/shortcodes/note.css"}}
  {{$quote := resources.Get "css/shortcodes/quote.css"}}
  {{$single := resources.Get "css/single.css"}}
  {{$post := slice $tags $details $warning $note $quote $single | resources.Concat "post.css" | toCSS | minify | fingerprint}}
  <link rel="stylesheet" href="{{$post.Permalink}}" integrity="{{$post.Data.Integrity}}">

  {{if .Params.math}}
    {{$katexcss := resources.Get "js/katex/katex.css" | toCSS | minify | fingerprint}}
    <link rel="stylesheet" href="{{$katexcss.Permalink}}" integrity="{{$katexcss.Data.Integrity}}">
    {{$katexjs := resources.Get "js/katex/katex.js" | minify | fingerprint}}
    <script defer src="{{$katexjs.Permalink}}" integrity="{{$katexjs.Data.Integrity}}"></script>
    {{$autorender := resources.Get "js/katex/auto-render.js" | minify | fingerprint}}
    <script defer src="{{$autorender.Permalink}}" integrity="{{$autorender.Data.Integrity}}" onload="renderMathInElement(document.body);"></script>
  {{end}}
</head>

<body>
  {{ partial "header.html" . }}
  <main>
    <article>
      <div class="posthead">
        <p class="postdate">{{.Date | time.Format "Monday, January 2, 2006"}}</p>
        <h1 class="posttitle">{{.Title}}</h1>
        <p class="postdesc">{{.Description}}</p>
        {{ partial "tags.html" . }}
        <p class="readingtime">{{.ReadingTime}} min read</p>
      </div>
      {{.Content}}
    </article>
  </main>
  {{ partial "footer.html" . }}
</body>

</html>