<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" href="/css/single.css">
</head>

<body>
  {{ partial "header.html" . }}
  <main>
    <article>
      <div class="posthead">
        <p class="postdate">{{.Date | time.Format "Monday, January 2, 2006"}}</p>
        <h1 class="posttitle">{{.Title}}</h1>
        <p class="postdesc">{{.Description}}</p>
        {{ partial "tags.html" . }}
        <p class="readingtime">{{.ReadingTime}} min read</p>
      </div>
      {{.Content}}
    </article>
  </main>
  {{ partial "footer.html" . }}

  {{if .Params.mathjax}}
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
  </script>
  <script id="MathJax-script" async src="/js/mathjax/tex-mml-chtml.js" defer></script>
  {{end}}
</body>

</html>