<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    {{ $about := resources.Get "css/about.css" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{$about.Permalink}}" integrity="{{$about.Data.Integrity}}">
</head>

<body>
    {{ partial "header.html" . }}
    <main>
        <article>
            <div class="posthead">
                <h1 class="posttitle">{{.Title}}</h1>
            </div>
            {{.Content}}
        </article>
    </main>
    {{ partial "footer.html" . }}
</body>

</html>