/* Text */
p {
    text-align: justify;
}

.custom-block:not(.details) {
    font-size: 1em;
}

.vp-doc a:hover {
    text-decoration: underline;
}

/* Contributor logos */
.contrib {
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.contributors {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(16, 1fr);
}

@media screen and (max-width: 600px) {
    .contributors {
        grid-template-columns: repeat(8, 1fr);
    }
}