/* Text */
p {
    text-align: justify;
}

.custom-block:not(.details) {
    font-size: 1em;
}

/* Contributor logos */
.contrib {
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    width: 2rem;
}

.contributors {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(8, 1fr);
}

@media (min-width: 460px) {
    .contributors {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media (min-width: 640px) {
    .contributors {
        grid-template-columns: repeat(16, 1fr);
    }
}

/* Animated hyperlink underline */
/* Thanks to https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ for demonstrating how to do this */
.vp-doc a:not(.contributors a, .header-anchor) {
    color: var(--vp-c-brand);
    text-decoration: none;
    background-image: linear-gradient(var(--vp-c-brand), var(--vp-c-brand));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .25s ease-in-out;
}

.vp-doc a:not(.contributors a, .header-anchor):hover,
.vp-doc a:not(.contributors a, .header-anchor):focus {
    background-size: 100% 2px;
}

/* Text selection color */
/* Thanks to https://css-tricks.com/overriding-the-default-text-selection-color-with-css/ for demonstrating how to do this */
::selection {
    background: var(--vp-c-brand);
    color: var(--vp-c-bg);
}

::-moz-selection {
    background: var(--vp-c-brand);
    color: var(--vp-c-bg);
}