---
import Nav from "./Nav.astro";
import Sidebar from "./Sidebar.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <h3 class="titleblock">
        <a href="/" class="brand">The Blog of Random</a>
        <ThemeToggle />
    </h3>
    <nav>
        <Nav />
    </nav>
    <Sidebar />
</header>

<style lang="scss">
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg);
        top: 0;
        margin: 2vh 1vw;

        a {
            text-decoration: none;
            padding: 0.5rem;
            border-radius: 0.5rem;
            transition: all 0.25s;

            &:hover {
                color: var(--link);
            }
        }
    }

    // Brand
    .brand {
        padding: 1rem 0.5em;
        text-decoration: none;
        color: var(--text);
    }

    .titleblock {
        margin: 0;
    }

    // Nav
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        @media (max-width: 768px) {
            display: none;
        }
    }
</style>
