<a href="/about">About</a>
<div class="divider"></div>
<div class="nav-menu">
    <button type="button">Science</button>
    <menu>
        <a href="/science/chaos-theory/">Chaos Theory</a>
        <a href="/science/collatz-conjecture/">Collatz Conjecture</a>
    </menu>
</div>
<div class="nav-menu">
    <button type="button">History</button>
    <menu>
        <a href="/history/history-of-toilet-paper/">History of Toilet Paper</a>
        <a href="/history/the-phalanx-formation/">The Phalanx Formation</a>
    </menu>
</div>
<div class="nav-menu">
    <button type="button">Tech</button>
    <menu>
        <b>Priv/Sec/Anon</b>
        <a href="/tech/psa/intro/">Intro</a>
        <a href="/tech/psa/messengers">Messengers</a>
        <hr />
        <a href="/tech/google/">Google</a>
    </menu>
</div>
<div class="divider"></div>
<a
    href="https://gallery.zerolimits.dev"
    class="gallery"
    target="_blank"
    title="Aperturic Focus"
>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
            fill-rule="evenodd"
            d="M15 3H7c0-.55-.45-1-1-1H2c-.55 0-1 .45-1 1-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zM6 5H2V4h4v1zm4.5 7C8.56 12 7 10.44 7 8.5S8.56 5 10.5 5 14 6.56 14 8.5 12.44 12 10.5 12zM13 8.5c0 1.38-1.13 2.5-2.5 2.5S8 9.87 8 8.5 9.13 6 10.5 6 13 7.13 13 8.5z"
        >
        </path>
    </svg>
</a>
<style lang="scss">
    a,
    b {
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.25s;
        color: var(--text);
    }

    a:hover {
        color: var(--link);
    }

    .nav-menu {
        background-color: transparent;
        position: relative;

        @media (max-width: 768px) {
            padding: 0.5rem 0.1rem;
        }

        &:hover menu {
            opacity: 1;
            visibility: visible;

            @media (min-width: 769px) {
                transform: translate(-50%, 0);
            }

            @media (max-width: 768px) {
                transform: translateY(0);
            }
        }
    }

    button {
        color: var(--text);
        background-color: transparent;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.25s;

        &::after {
            content: "";
            -webkit-mask: url("/svg/dropdown-arrow.svg");
            mask: url("/svg/dropdown-arrow.svg");
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: var(--text);
            height: 1rem;
            width: 1rem;
            display: inline-block;
            vertical-align: -10%;
            transition: all 0.25s;
        }

        &:hover {
            color: var(--link);

            &::after {
                background-color: var(--link);
            }
        }
    }

    // Gallery
    .gallery {
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .gallery svg {
        height: 1.25rem;
        vertical-align: -15%;
        transition: all 0.25s;
        fill: var(--text);

        &:hover {
            fill: var(--link);
        }
    }

    menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: var(--bg);
        color: var(--text);
        box-shadow: 0 0.125rem 0.5rem 0.125rem var(--shadow);
        margin: 0.5rem 0;
        padding: 0.5rem;
        border-radius: 0.75rem;
        transition: all 0.25s;
        z-index: 9999;

        @media (min-width: 769px) {
            left: 50%;
            transform: translate(-50%, -10%);
        }

        @media (max-width: 768px) {
            right: 0;
            transform: translateY(-10%);
        }

        a {
            display: block;
            white-space: nowrap;

            &:hover {
                color: var(--primary-text);
                background-color: var(--primary-bg);
            }
        }
    }

    .divider {
        @media (min-width: 769px) {
            border-left: 2px solid var(--variant);
            height: 1.5rem;
        }

        @media (max-width: 768px) {
            border-left: none;
            border-top: 2px solid var(--variant);
            height: 1px;
        }
    }
</style>
