---
import Nav from "./Nav.astro";
---

<aside>
    <button
        onclick="document.getElementById('sidebar').classList.toggle('open');"
        title="Sidebar"
        type="button"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="16"
            height="16"
            fill="currentColor"
        >
            <path
                fill-rule="evenodd"
                d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"
            ></path>
        </svg>
    </button>

    <nav id="sidebar">
        <Nav />
    </nav>
</aside>

<style lang="scss">
    aside {
        z-index: 999;
        position: relative;

        @media (min-width: 769px) {
            display: none;
        }

        &:hover nav {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    button {
        background-color: transparent;
        border: none;
        color: var(--text);
        margin: 1vh 2vw;
    }

    // Sidebar
    nav {
        display: flex;
        position: absolute;
        right: 0;
        scroll-margin-top: 5rem;
        background-color: var(--bg);
        border: solid 0.125rem var(--variant);
        border-radius: 0.75rem;
        padding: 0.5rem;
        white-space: nowrap;
        margin-right: 1rem;
        margin-top: 0.5rem;
        transition: all 0.25s;
        flex-direction: column;
        gap: 0.5rem;

        &.open {
            visibility: visible;
            transform: translateY(10%);
        }

        &:not(nav.open) {
            visibility: hidden;
            opacity: 0;
            transform: translateY(-10%);
        }
    }
</style>

<script>
    document.addEventListener("click", function (event) {
        if (
            (event.target as HTMLElement).closest("button") ||
            (event.target as HTMLElement).closest("nav")
        )
            return;
        document.getElementById("sidebar").classList.remove("open");
    });
</script>
