<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{.Description}}">
{{if .IsHome}}
<title>{{.Site.Title}}</title>
{{else}}
<title>{{.Title}} - {{.Site.Title}}</title>
{{end}}
<link rel="icon" href="{{(resources.Get "icon/favicon.ico").RelPermalink}}" sizes="any">
<link rel="icon" href="{{(resources.Get "icon/favicon.svg").RelPermalink}}" type="image/svg+xml">
<link rel="alternate" href="/index.xml" type="application/atom+xml" title="Atom">

{{$colors := resources.Get "css/partials/colors.css"}}
{{$header := resources.Get "css/partials/header.css"}}
{{$footer := resources.Get "css/partials/footer.css"}}
{{$fonts := resources.Get "css/partials/fonts.css"}}
{{$global := resources.Get "css/global.css"}}
{{$style := slice $global $colors $header $fonts $footer | resources.Concat "style.css" | toCSS | minify | fingerprint}}
<link rel="stylesheet" href="{{$style.Permalink}}" integrity="{{$style.Data.Integrity}}">