<header>
    {{ if .IsHome }}
    <div class="brand">
        <p class="title">{{.Site.Title}}</p>
    </div>
    {{ else }}
    <a href="{{.Site.BaseURL}}" class="brand">
        <p class="title">{{.Site.Title}}</p>
    </a>
    {{ end }}

    <nav class="header-nav">
        <div class="header-nav-menu">
            <button class="header-linktitle" type="button">History</button>
            <menu>
                <a href="/history/history-of-toilet-paper/">History of Toilet Paper</a>
                <a href="/history/the-phalanx-formation/">The Phalanx Formation</a>
            </menu>
        </div>
        <div class="header-nav-menu">
            <button class="header-linktitle" type="button">Science</button>
            <menu>
                <a href="/science/chaos-theory/">Chaos Theory</a>
                <a href="/science/collatz-conjecture/">Collatz Conjecture</a>
            </menu>
        </div>
        <div class="header-nav-menu">
            <button class="header-linktitle" type="button">Tech</button>
            <menu>
                <b>Priv/Sec/Anon</b>
                <a href="/tech/psa/intro/">Intro</a>
                <a href="/tech/psa/messengers">Messengers</a>
                <hr>
                <a href="/tech/google/">Google</a>
            </menu>
        </div>
        <a href="https://gallery.zerolimits.dev" class="gallery" target="_blank">Aperturic Focus</a>
    </nav>
</header>