<div class="sidebar">
    <a href="#sidebar" class="sidebar-button" title="Sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
            <path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path>
        </svg>
    </a>

    <nav id="sidebar" class="sidebar-nav">
        <a href="/about">About</a>
        <hr>
        <div class="sidebar-nav-menu">
            <button class="sidebar-linktitle" type="button">History</button>
            <menu>
                <a href="/history/history-of-toilet-paper/">History of Toilet Paper</a>
                <a href="/history/the-phalanx-formation/">The Phalanx Formation</a>
            </menu>
        </div>
        <div class="sidebar-nav-menu">
            <button class="sidebar-linktitle" type="button">Science</button>
            <menu>
                <a href="/science/chaos-theory/">Chaos Theory</a>
                <a href="/science/collatz-conjecture/">Collatz Conjecture</a>
            </menu>
        </div>
        <div class="sidebar-nav-menu">
            <button class="sidebar-linktitle" type="button">Tech</button>
            <menu>
                <b>Priv/Sec/Anon</b>
                <a href="/tech/psa/intro/">Intro</a>
                <a href="/tech/psa/messengers">Messengers</a>
                <hr>
                <a href="/tech/google/">Google</a>
            </menu>
        </div>
        <hr>
        <a href="https://gallery.zerolimits.dev" class="gallery" target="_blank">Aperturic Focus</a>
    </nav>
</div>