<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    {{ partial "header.html" . }}
    <main>
        <h1 class="sitetitle">{{.Site.Title}}</h1>
        <h2 class="sitedesc">{{.Description}}</h2>
        <div class="infoboxes">
            <div class="info">
                <b>About this blog</b>
                <p>This blog is about pretty much any topic I find interesting at the moment. I've written about
                    historical topics, math stuff, tech, and more. I'd love ideas for things to write about. You can
                    recommend them at my GitHub by opening an issue.</p>

                <p>I don't have a strict upload schedule, but on average I post about once a month, though don't quote
                    me on that (I've gone like 3 months without posting before.). I try to write as frequently as I can,
                    but I get distracted easily and I procrastinate a lot, so you might go a few weeks or sometimes
                    months without any new posts, so sorry about that.</p>
            </div>
            <div class="info">
                <b>How can I keep up with updates/new posts?</b>
                <p>You can subscribe to the <a href="/index.xml">RSS Feed</a>. Another option is to subscribe to the GitHub Releases Atom feed for this, since I'll create a new release when I make a new post or a big change / set of changes to the website.</p>
                
                <p>A popular method is to set up a newsletter type thing, but I don't want to give out my real email address to the newsletter provider, and I don't want you to either, so that's not an option that's too attractive for me at the moment.</p>
            </div>
        </div>
    </main>
    {{ partial "footer.html" . }}
</body>

</html>