@media (prefers-color-scheme: light) {
    :root {
        /* Main */
        --bg: #fdfbff;
        --text: #1a1b1e;
        --link: #005db7;
        --outline: #74777f;
        --shadow: #e0e2ec;
        --variant: #e0e2ec;

        /* Accents */
        --primary-bg: #d6e3ff;
        --primary-text: #001b3d;

        /* Details */
        --details-bg: #92f7bc;
        --details-text: #002111;

        /* Warning */
        --warning-bg: #ffdad6;
        --warning-text: #410002;

        /* Note */
        --note-bg: #f9d8fd;
        --note-text: #28132f;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Main */
        --bg: #1a1b1e;
        --text: #e3e2e6;
        --link: #a9c7ff;
        --outline: #8e9099;
        --shadow: #111215;
        --variant: #44474e;

        /* Accents */
        --primary-bg: #00468c;
        --primary-text: #d6e3ff;

        /* Details */
        --details-bg: #005231;
        --details-text: #92f7bc;

        /* Warning */
        --warning-bg: #93000a;
        --warning-text: #ffdad6;

        /* Note */
        --note-bg: #563e5c;
        --note-text: #f9d8fd;   
    }
}

::selection {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

::-moz-selection {
    background-color: var(--primary-bg);
    color: var(--primary-text);
}