.warning {
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--warning-bg);
    color: var(--warning-text);
    margin: 0.5rem 0;
    box-shadow: 0 0.125rem 0.5rem 0.125rem var(--shadow);
}

.warning a {
    color: var(--warning-text);
    text-decoration: underline;
}

.warning p,
.warning li {
    margin: 0.5rem 0;
}

.warning ul {
    margin: 0;
}

.warning *::selection {
    background-color: var(--warning-text);
    color: var(--warning-bg);
}

.warning *::-moz-selection {
    background-color: var(--warning-text);
    color: var(--warning-bg);
}